body{
background-color: blue
color:red



}
section{
    background-color: aqua;
    padding-block:80px;
    padding-bottom:80px;
    display:flex;
    justify-content: center;
}
.chamada-texto{
margin-right: 40px;
}
img{
.categoria-videos{
display:flex;
overflow-x: auto;
gap: 10px;    
}